<h1>About Us</h1>
<p>
	Welcome to BiteOfTheFuture! This is a place for anyone to post ideas about what the future will be link in any way. From technology to fashion, anything about the future is welcome on this site. Feel free to post your wildest imaginations as serious and funny posts are welcome with open arms. Enjoy!	
</p>	
<p>
	<%= image_tag "future.jpg", :height => "70%", :width => "95%"%>	
</p>